.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.section-categories {
  width: 312px;
  height: 220px;
  border-radius: 8px;
  background-color: var(--background-secondary-color);
  box-size: border-box;
  padding: 24px 16px;
  text-align: center;
  gap: 24px;
}

.section-categories img {
  margin: 24px;
}

.section-categories p {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  line-height: 36px;
}

.categories a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }
  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .categories {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 80px;
  }

  .section-categories {
    width: 230px;
    border-radius: 8px;
    background-color: var(--background-secondary-color);
    padding: 24px 16px;
    box-size: border-box;
    text-align: center;
    gap: 24px;
  }
  .section-categories p {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .categories {
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1920px) {
  .categories {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
}
