.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 80px; 
}

.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.img-tokyo {
  width: 312px;
  height: 360px;
  background: url(../img/tokyo-mobile.jpg) no-repeat center;
  margin: 24px 24px;
}

.img-osaka {
  width: 312px;
  height: 360px;
  background: url(../img/osaka-mobile.jpg) no-repeat center;
  margin: auto 24px auto 24px;
  box-sizing: border-box;
}

.item h4 {
  box-sizing: border-box;
  margin: 24px;
  line-height: 100%;
  font-size: 28px;
  font-weight: var(--title-weight);
}

.item p {
  width: 312px;
  height: 224px;
  align-items: center;
  margin: 0 auto;
  line-height: 32px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: var(--text-weight);
}

.item .btn-details {
  width: 312px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .img-tokyo {
    width: 648px;
    height: 718px;
    background: url(../img/Tokyo-tablete.jpg) no-repeat center;
    margin: 24px 24px;
  }
  .item p {
    width: 648px;
    height: 96px;
    align-items: center;
    margin: 0 auto;
    line-height: 32px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: var(--text-weight);
    margin-bottom: 40px;
  }
  .img-osaka {
    width: 648px;
    height: 718px;
    background: url(../img/Osaka-tablete.jpg) no-repeat center;
    margin: 24px 24px;
  }

  .item .btn-details {
    width: 280px;
    height: 64px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-right: 56%;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .img-tokyo {
    width: 648px;
    height: 452px;
    background: url(../img/Tokyo-desktop.jpg) no-repeat center;
    margin: 24px 24px;
  }
  .img-osaka {
    width: 648px;
    height: 452px;
    background: url(../img/Osaka-desktop.jpg) no-repeat center;
    margin: 24px 24px;
  }
}

@media screen and (min-width: 1440px) {

  .destinations-items{
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 24px;
    justify-content: center;
    width: 1200px;
    height: 873px;

  }
  .item{
    width: 100%;
    height: 750px;
    gap: 24px;
  }
  .img-osaka {
    width: 588px;
    height: 452px;
    background: url(../img/Osaka-desktop.jpg) no-repeat center;
    
  }
   .img-osaka {
    width: 588px;
    height: 452px;
    background: url(../img/Osaka-desktop.jpg) no-repeat center;
  
  }

  .item p {
  
    margin-left: 25px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: var(--text-weight);
    margin-bottom: 50px;
  }


}


