/* CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --primary-color: #8f0101;
  --secondary-color: #bb1515;

  --text-primary-color: #222222;
  --text-secondary-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto;
}

section.hero {
  width: 100%;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0px;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 8px auto 32px;
}


.btn-details {
  width: 280px;
  height: 64px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  gap: 32px;
  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 32px;
  display: inline-block;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }
  section {
    width: 648px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
  .btn-details:hover {
    background-color: var(--primary-color);
    transition: background-color 0.6s ease;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
