.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonials-container article header p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
  

}

.testimonials-container footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0;
    margin-bottom: 0 0 0 8px;

}

.testimonials-container footer .profile-content .rating .star {
    font-size: 32px;
    line-height: 32px;
    color: var(--secondary-color);
    font-weight: var(--title-weight);
    margin: 0;
    line-height: 32px;
  

}

.testimonials-container  footer{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 24px;

}

.testimonials-container article footer img{
    width: 86px;
    height: 86px;
    
}

.testemonials-header {
  background-color: var(--background-primary-color);
  padding: 0px;
}

@media screen and (min-width: 1440px) {
  .testimonials-container {
    flex-direction: row;
    
  }
}
